@import "tailwindcss";

@layer base {
  :root {
    --white-color: #edeef0;
    --border-color: #789597ff;
  }

  .bg-light {
    background-color: var(--white-color);
  }

  .border-color {
    border-color: var(--border-color);
  }

  .font-geomanist {
    font-family: "Geomanist", Arial, sans-serif;
  }
}

.loading {
  animation: loading_box 1.2s linear infinite;
}

@keyframes loading_box {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* SIDEBAR scrolli uchun yaratilgan codlar */

@layer utilities {
  .custom-scroll::-webkit-scrollbar {
    width: 8px;
  }
  .custom-scroll::-webkit-scrollbar-track {
    background: #1a1a1a;
  }
  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    border: 2px solid #1a1a1a;
  }
  .custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: white #1a1a1a;
  }
}
