@import "tailwindcss";

@layer base {
  :root {
    --primary-color: #c10007;
    --light-gray: #f9f9f9;
    --black-gray: #02282c;
  }

  .text-primary {
    color: var(--primary-color);
  }

  .text-gry {
    color: var(--black-gray);
  }
  .bg-primary {
    background-color: var(--primary-color);
  }

  .bg-light {
    background-color: var(--light-gray);
  }

  .font-geomanist {
    font-family: "Geomanist", Arial, sans-serif;
  }
}
